<!DOCTYPE html>
<html>
<head><title>WDYG</title></head>
<link href="css/style.css" rel="stylesheet" type="text/css">
<body>
<h1 class="Three-Dee">Where Do You Go</h1>
<a href=<%= authorize %>><img src="images/connect-blue.png" alt="Connect to 4sq"></a>
<ol>
  <% if checkins != [] %>
      <% checkins.each do |array| %>
         <% array.select{|check| check[:venue] != nil}.each do |check| %>
          <li><%= check[:venue][:name] %> at <%= check[:venue][:location][:address] %> in <%= check[:venue][:location][:city] %> </li>
              <% end %>
      <% end %>
  <% end %>
</ol>
</body>
</html>
